In [9]:
import pandas as pd
import numpy as np

In [10]:
my_dict = {'Blood_p':[130,140,125,110,127], 'Height':[1.64,1.7,1.66,1.80,1.9], 'Weight':[66.5,80,62,77,85]}

In [11]:
df =pd.DataFrame(my_dict)

In [12]:
df

   Blood_p  Height  Weight
0      130    1.64    66.5
1      140    1.70    80.0
2      125    1.66    62.0
3      110    1.80    77.0
4      127    1.90    85.0

In [13]:
df.describe()

          Blood_p    Height     Weight
count    5.000000  5.000000   5.000000
mean   126.400000  1.740000  74.100000
std     10.830512  0.108628   9.568176
min    110.000000  1.640000  62.000000
25%    125.000000  1.660000  66.500000
50%    127.000000  1.700000  77.000000
75%    130.000000  1.800000  80.000000
max    140.000000  1.900000  85.000000

In [14]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 3 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Blood_p  5 non-null      int64
 1   Height   5 non-null      float64
 2   Weight   5 non-null      float64
dtypes: float64(2), int64(1)
memory usage: 248.0 bytes

In [15]:
from sklearn.preprocessing import StandardScaler

In [16]:
scaler = StandardScaler()

In [17]:
scaled = scaler.fit_transform(df)

In [18]:
scaled

array([[ 0.37162806, -1.02923371, -0.8880541 ],
       [ 1.40392824, -0.41169348,  0.68941042],
       [-0.14452202, -0.82338697, -1.41387561],
       [-1.69297228,  0.61754023,  0.33886275],
       [ 0.06193801,  1.64677394,  1.27365654]])

In [19]:
scaled.dtype

dtype('float64')

In [20]:
df_scaled = pd.DataFrame(scaled, columns=df.columns)

In [21]:
df_scaled

    Blood_p    Height    Weight
0  0.371628 -1.029234 -0.888054
1  1.403928 -0.411693  0.689410
2 -0.144522 -0.823387 -1.413876
3 -1.692972  0.617540  0.338863
4  0.061938  1.646774  1.273657

In [22]:
df_scaled.describe()

            Blood_p        Height        Weight
count  5.000000e+00  5.000000e+00  5.000000e+00
mean  -5.953571e-16  1.776357e-15  6.217249e-16
std    1.118034e+00  1.118034e+00  1.118034e+00
min   -1.692972e+00 -1.029234e+00 -1.413876e+00
25%   -1.445220e-01 -8.233870e-01 -8.880541e-01
50%    6.193801e-02 -4.116935e-01  3.388627e-01
75%    3.716281e-01  6.175402e-01  6.894104e-01
max    1.403928e+00  1.646774e+00  1.273657e+00